<div id="container">

  <div id="header">Majesty Online</div>

  <div>
    Name:
    <input [(ngModel)]="playerName" [disabled]="joined">
  </div>

  <div>
    Spiel-ID:
    <input [(ngModel)]="gameId" [disabled]="joined">
    <button (click)="join()" [disabled]="joined">Beitreten</button>
  </div>

  <div *ngIf="joined">
    Warten auf Spielstart...
    <img src="assets/loader.svg" style="height: 25px">
    <button (click)="copyLink()">{{copied ? "Kopiert" : "Link kopieren"}}</button>
    <button (click)="startGame()">Start</button>
  </div>

</div>
