$clr-container-background: #f1f1f1;
$clr-text-muted: #4b4b4b;
$clr-meeple: #b0b0b0;

$place-color-white-factor: 40%;
$place-color-darken-text: 20%;
$clr-mill: #fd973b;
$clr-brewery: #a97841;
$clr-cottage: #6ea82d;
$clr-guardhouse: #43aad0;
$clr-barracks: #d0505b;
$clr-inn: #efbd10;
$clr-castle: #9a52d5;

.clr-mill {
  background-color: mix(white, $clr-mill, $place-color-white-factor);
  color: darken($clr-mill, $place-color-darken-text);
}
.clr-brewery {
  background-color: mix(white, $clr-brewery, $place-color-white-factor);
  color: darken($clr-brewery, $place-color-darken-text);
}
.clr-cottage {
  background-color: mix(white, $clr-cottage, $place-color-white-factor);
  color: darken($clr-cottage, $place-color-darken-text);
}
.clr-guardhouse {
  background-color: mix(white, $clr-guardhouse, $place-color-white-factor);
  color: darken($clr-guardhouse, $place-color-darken-text);
}
.clr-barracks {
  background-color: mix(white, $clr-barracks, $place-color-white-factor);
  color: darken($clr-barracks, $place-color-darken-text);
}
.clr-inn {
  background-color: mix(white, $clr-inn, $place-color-white-factor);
  color: darken($clr-inn, $place-color-darken-text);
}
.clr-castle {
  background-color: mix(white, $clr-castle, $place-color-white-factor);
  color: darken($clr-castle, $place-color-darken-text);
}

/* --- (layout) --- */

#title-container {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 0;

  #title {
    font-size: 180%;

    display: flex;
    align-items: center;
    gap: 18px;
  }

  .state {
    font-size: 18px;
    color: $clr-text-muted;
    background: $clr-container-background;
    border-radius: 100vw;
    padding: 5px 10px;

    span:not(.comma) {
      color: initial;
    }

    &.small {
      font-size: 10px;
    }

    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: black;
      }
    }

    border: 3px solid $clr-container-background;
    &.prompt {
      border-color: black;
    }
  }
}

#layout {
  display: flex;
  justify-content: center;
  gap: 10px;

  .layout-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;

    &:first-child {
      align-items: stretch;
    }
  }
}

@mixin container {
  background-color: $clr-container-background;
  border-radius: 10px;
  padding: 15px 20px;
}
.container {
  @include container;
  width: fit-content;
}

.active-container {
  outline: 2px solid #dddddd;
  outline-offset: -2px;
}

/* --- cards queue --- */

#cards-queue-container {
  @include container;
  width: fit-content;

  display: flex;
  gap: 10px;

  .card-in-queue-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .meeples-container {
      display: flex;
      justify-content: center;
      gap: 4px;

      .meeple {
        background-color: $clr-meeple;
        width: 17px;
        height: 17px;
        border-radius: 100vw;

        &.empty {
          $border-weight: 2.5px;
          background: none;
          width: calc(17px - 2 * $border-weight);
          height: calc(17px - 2 * $border-weight);
          border: $border-weight dashed darken($clr-container-background, 10%);
        }
      }
    }

    .card {
      height: 150px;
      width: 100px;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 10px;

      .card-place {
        flex-grow: 1;

        box-sizing: border-box;
        font-size: 120%;
        border-radius: 10px;

        &.selectable:hover {
          outline: 3px solid #656565;
          outline-offset: 3px;
          cursor: pointer;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          $size: 30px; height: $size; width: $size;
          filter: brightness(80%) saturate(200%);
        }
      }
    }
  }
}

/* --- players --- */

.player-container, #self-player-container {
  @include container;
  width: fit-content;

  .name-row {
    display: flex;
    gap: 25px;

    div:first-child {
      font-size: 115%;
    }

    div:not(:first-child) {
      display: flex;
      gap: 7px;
      align-items: center;
      color: $clr-text-muted;
    }

    .score-icon, .meeples-icon, .infirmary-icon {
      width: 18px;
      height: 18px;
      border-radius: 100vw;
      &.score-icon {
        background-color: #efbd10;
      }
      &.meeples-icon {
        background-color: $clr-meeple;
      }
      &.infirmary-icon {
        background-color: #495e49;
      }
    }
  }

  .places-row {
    display: flex;
    gap: 2px;
    margin-top: 10px;

    .place {
      font-size: 120%;

      &.selectable {
        cursor: pointer;
        .title {
          outline: 3px solid #b7b7b7;
          outline-offset: 3px;
          position: relative;
          z-index: 100;
        }
        &:hover .title {
          outline-color: #656565;
        }
      }

      .title-container {
        display: flex;
        justify-content: center;
        margin-bottom: 3px;

        .title {
          font-size: 13px;
          text-align: center;
          border-radius: 100vw;

          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .place-card {
        width: 40px;
        height: 40px;
        background-color: $clr-container-background;
        border-radius: 18px;
        padding: 4px;

        display: flex;
        gap: 3px;

        position: relative;
        &:not(:last-child) {
          margin-bottom: -25px;
        }

        .place-card-place {
          flex-grow: 1;
          border-radius: 2px;
          &:first-child {
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;
          }
          &:last-child {
            border-top-right-radius: 13px;
            border-bottom-right-radius: 13px;
          }
        }

        &.empty {
          .place-card-place {
            border: 3px dashed darken($clr-container-background, 10%);
          }
        }
      }
    }
  }

  &#self-player-container {
    .place:not(.infirmary) {
      .place-card {
        width: 60px !important;
        height: 75px !important;

        &:not(:last-child) {
          margin-bottom: -50px;
        }
      }
    }

    .place.infirmary {
      .title {
        background-color: #495e49;
      }
      .place-card {
        @for $i from 1 through 12 {
          &:nth-child(#{$i}) {
            z-index: calc(100 - $i);
          }
        }
      }

      .place-card-place {
        transition: opacity 1s ease 500ms;
      }
      &:not(:hover) .place-card-place {
        opacity: 60%;
        transition-delay: 0s;
      }
    }
  }
}

/* --- chat --- */

#chat-container {
  @include container;
  width: 348px;
  height: 430px;

  display: flex;
  flex-direction: column-reverse;
  gap: 10px;

  #chat-messages-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: darken($clr-container-background, 5%);
      border-radius: 100vw;
    }
    &:not(:hover)::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: darken($clr-container-background, 10%);
      border-radius: 100vw;
      &:hover {
        background-color: darken($clr-container-background, 15%);
      }
    }
    &:not(:hover)::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }

  .notification {
    font-size: 15px;
    $size: 16px;
    color: $clr-text-muted;

    &:not(.no-flex) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      row-gap: 0;
    }

    .comma {
      margin-left: -4px;
    }

    span {
      color: darken($clr-text-muted, 30%);
      display: inline-flex;
      align-items: center;
      gap: 2px;
    }

    .place-icon, img {
      width: $size;
      height: $size;
      border-radius: 4px;
    }
    .split-place-icon {
      width: $size;
      height: $size;
      display: flex;
      gap: 1px;
      div {
        border-radius: 4px;
        flex-grow: 1;
        &:not(:first-child) {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        &:not(:last-child) {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    }

    .score-icon, .meeples-icon, .infirmary-icon {
      width: $size;
      height: $size;
      border-radius: 100vw;
      &.score-icon {
        background-color: #efbd10;
      }
      &.meeples-icon {
        background-color: $clr-meeple;
      }
      &.infirmary-icon {
        background-color: #495e49;
      }
    }
  }

  #chat-input {
    display: flex;
    gap: 10px;

    input {
      flex-grow: 1;
    }

    button {
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: relative;
        left: 1px;
      }
    }
  }
}

